
:root {
    background: #2a2a2a;
    color: #d7d7d7;
    --header-height: 90px
}

.App {

}

.btn {
    @apply bg-blue-500 text-sm px-3 py-2 rounded text-white
}

.input {
    @apply text-dark-600 w-full bg-transparent outline-none bg-dark-40 p-2 rounded-md text-sm
}

.container {
    max-width: 1200px;
    margin: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.header-space {
    height: var(--header-height);
}

.card {
    @apply mx-auto bg-dark-20 shadow-xl p-4 rounded-lg
}

.circle {
    @apply w-10 h-10 flex items-center justify-center bg-dark-60 text-sm rounded-full
}

.list-item {
    @apply flex items-center gap-x-2 my-2 p-2 hover:bg-dark-40 rounded-lg cursor-pointer
}


.navigation {
    z-index: 1002;
}

.dropdown {
    @apply absolute opacity-0  invisible mt-3 p-4 bg-dark-30 rounded-md;
    width: 180px;
    right: 20px;
    box-shadow: 1px 7px 19px -3px #00000091;
    transition: all .2s ease;
    transform: translateY(10px);
    z-index: 1001 !important;

    &::-webkit-scrollbar {
        width: 2px;
    }

    &.dropdown-open {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    a {
        @apply text-dark-700;
    }

}


.backdrop {
    transition: all 0.4s ease;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    position: fixed;
    width: 100%;
    height: 110%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
    background-color: rgb(0 0 0 / 41%);
    backdrop-filter: blur(2px);
    --tw-bg-opacity: 0.4;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform, opacity, visibility;
    overflow-y: hidden;
    overscroll-behavior: contain;
}

.backdrop-show {
    visibility: visible;
    opacity: 1;
}

.bullet {
    width: 10px;
    height: 10px;

    border-radius: 100%;

    &.active {
        background: #2c65ec;
    }

    &.inactive {
        background: #505050;
    }
}




