

:root{
    background: #2a2a2a;
    color: #d7d7d7;
}

.App{
    max-width: 1000px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.btn{
    @apply !bg-blue-500 text-sm px-3 py-2 rounded text-white
}
.input{
    @apply text-dark-600 w-full bg-transparent outline-none bg-dark-40 p-2 rounded-md text-sm
}