@import "../src/sass/--mixin";


.message-fixed-input {
    textarea {
        height: 50px;
        margin-top: 20px;
    }

}

.messenger {
    width: 100%;
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 20px;
    @include getDown(600px){
        grid-template-columns:  1fr;
    }

    .message-sidebar {
        background: #2f2f2f;
        height: calc(100vh - var(--header-height) - 0px);
        overflow-y: auto;
        @include custom-scrollbar();

        @include getDown(600px){
            display: none;
        }
    }

    .chatting-box{
        @apply relative  w-full
    }

    .message-list {
        @apply bg-dark-30  rounded-lg mt-5;
        overflow-y: auto;

        .message-item {
            @apply mt-2 py-2 break-words px-4  rounded-lg text-white flex items-start gap-x-1;
            width: max-content;
            p{
                padding: 10px;
                border-radius: 10px;
            }
            .item {

            }

            &.images{
                width: 100%;
            }

        }

        .message-item-own {
            flex-direction: row-reverse;
            text-align: right;
            margin-left: auto;
            p{
                background: #151515;
            }
        }

        .message-item-friend {
            p{
                background: #2c65ec;
            }
        }
    }
}

.container_div{
    height: 200px;
    width: 200px;
    overflow-y: auto;
}

.chat_message {
    height: calc(100vh - 300px);
    overflow-y: auto;
    @include custom-scrollbar()
}

textarea{
    overflow:hidden
}

.message-input{
    background: rgba(61, 61, 61, 0.67);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: 10px;
    .input2{
        width: 100%;
        outline: none;
        word-break: break-all;
        max-height: 100px;
        overflow-y: auto;
        @include custom-scrollbar();
    }
    .picker{

    }
}